{% extends "base.html" %}
{% block content %}

<form action="/facilities/{{ facility.id }}" method="post">
    <label for="facility">Facility:</label>
    <input type="text" , name="facility" , id="facility" , value={{ facility.facility }}>

    <label for="center">Center:</label>
    <input type="text" , name="center" , id="center" , value={{ facility.center }}>

    <label for="contact">Contact:</label>
    <input type="text" , name="contact" , id="contact" , value={{ facility.contact }}>

    <label for="phone">Phone:</label>
    <input type="text" , name="phone" , id="phone" , value={{ facility.phone }}>

    <button type="submit">Update Facility</button>
</form>

{% endblock %}